@import './basic.css';
/* start navbar*/
.logo-img{
    width: 250px;
}
section.navbar-con
,nav.navbar{
    width: 100%;
}
.main-contant{
    height: 100vh;
}
.navbar-con{
    z-index: 2;
}
.navbar  button:hover {
    color:black;
    border:black 2px solid;
    font-weight: 500;
}
.button i{
    color: white;
}
.navbar button:first-of-type{
    color:white;
    border:white 1px solid;
    background-color: transparent;
}
.menu-modal-content .row{
    margin-top: 50px;
}
.modal-body{
    padding: 25px;
}
.contact span{
    font-size: 14px;
}
.menu-modal-content{
    position: relative;
    background: url('./../img/small-parts/navigation.png') center/cover no-repeat;
    height: 100vh;
}

.modal-body,
.bages,
.contact {
    position: relative;
    z-index: 2; 
}
.modal-body {
    flex: unset !important;
}
.contact p{
    border-bottom: white dashed 2px;
    width: 50%;
}

@media screen and (max-width:992px) {
    .reserve{
        display: none !important;
    }
    .logo{
        width: 70%;
    }
    .bage-menu{
        margin-left: auto;
    }
    .navbar button:first-of-type{
        margin-left: auto;
    }
}
@media screen and (max-width:768px) {
    .logo{
        width: 40%;
    }
    .bages{
        margin: auto;
    }
    .empty{
        height: 40px;
    }
    .bages .navbar-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 40px;
    }
    .header .main-contant{
        align-items: start;
    }
    .empty,.empty1{
        display: none;
    }
}
@media screen and (max-width:576px) {
    .navbar{
        padding: 20px;
    }
    .navbar .navbar-brand {
        width: 80%;
    }
    .empty{
        display: none;
    }
    .contacts{
        align-items: center;
    }
    .open-date p{
    font-size: 14px !important;
}
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;
    }
    .tomato-effect{
        display: none;
    }
    p.w-75{
        width:100% !important;
    }

}

.header{
    background-image: url(../img/about/background.png);
    background-size:cover;
}
.reserve .btn{
    padding: 15px 35px;
    border-radius: 0%;
}
 .btn:hover
{
    border: black 2px solid;
    font-weight: 500;
}
.main-contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:end;
    align-content: end;
    flex-wrap: wrap;
}
.menu-modal-content{
    position: relative;
    background: url('./../img/small-parts/navigation.png') center/cover no-repeat;
    height: 50vh;
}
.menu-modal-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.5); 
    z-index: 1;
}
.menu-modal-content>*{
    z-index: 2;
}
.modal-body{
    height: auto;
}
/* end header*/
/*start our story*/
.tomato-effect{
    top: 7.5%;
    right: 47.4%;
}
/*end our story*/
/*start team*/
.empty{
    width: 100%;
    height: 300px;
}
/*end team*/
/* start process*/
.empty1{
    width: 100%;
    height: 100px;
}

/*end process*/
/*start video*/
.video{
    background: url("./../img/about/video.png") center/cover no-repeat;
    position: relative;
    height: 85vh;
}
.video::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 85vh;
    width: 100%;
    background-color: var(--maincolor);
    opacity: 0.7;
    z-index: 1;
}
.video h2,
.video p,
.video button{
    z-index: 2;
}
.video .container,
.rr{
    height: 85vh;
}
/*end video*/
/*start reservation*/
input, select{
    width: 300px;
}
.reservation button{
    color: white;
}
.rosemary1-effect{
    left: 75%;
    bottom: 80%;
}
.rosemary2-effect{
    rotate: 250deg;
    right: 88%;
    top: 85%;
}
/*end reservation*/









/*start footer*/
.name-link{
    font-size: 45px;
    font-weight: 500;

}
.Subscribe-field{
    align-items: center;
}
.end-footer{
    border-top: white dashed 3px;
}
@media screen and (max-width:992px) {
.footer{
    text-align: center;
    padding: 0px;
}
footer.py-5{
    padding-top: 0px !important;
}
.contant.pt-5{
    padding-top: 0px !important;
}
}
/*end footer*/