@import './basic.css';
/* start navbar*/
.logo-img{
    width: 250px;
}
section.navbar-con
,nav.navbar{
    width: 100%;
}
.main-contant{
    height: 71vh;
}
.navbar-con{
    z-index: 2;
}
.navbar  button:hover {
    color:black;
    border:black 2px solid;
    font-weight: 500;
}
.button i{
    color: white;
}
.navbar button:first-of-type{
    color:white;
    border:white 1px solid;
    background-color: transparent;
}
.menu-modal-content .row{
    margin-top: 50px;
}
.modal-body{
    padding: 25px;
}
.contact span{
    font-size: 14px;
}
.menu-modal-content{
    position: relative;
    background: url('./../img/small-parts/navigation.png') center/cover no-repeat;
    height: 100vh;
}

.modal-body,
.bages,
.contact {
    position: relative;
    z-index: 2; 
}
.modal-body {
    flex: unset !important;
}
.contact p{
    border-bottom: white dashed 2px;
    width: 50%;
}

@media screen and (max-width:992px) {
    .reserve{
        display: none !important;
    }
    .logo{
        width: 70%;
    }
    .bage-menu{
        margin-left: auto;
    }
    .navbar button:first-of-type{
        margin-left: auto;
    }
}
@media screen and (max-width:768px) {
    .logo{
        width: 40%;
    }
    .bages{
        margin: auto;
    }
    .empty{
        height: 40px;
    }
    .bages .navbar-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 40px;
    }
}
@media screen and (max-width:576px) {
    .navbar{
        padding: 20px;
    }
    .navbar .navbar-brand {
        width: 80%;
    }
    .empty{
        display: none;
    }
    .contacts{
        align-items: center;
    }
    .open-date p{
    font-size: 14px !important;
}
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;
    }

}

.header{
    background-image: url(../img/contact/coverBage.png);
    background-size:cover;
}
.reserve .btn{
    padding: 15px 35px;
    border-radius: 0%;
}
 .btn:hover
{
    border: black 2px solid;
    font-weight: 500;
}
.main-contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    align-content: start;
    flex-wrap: wrap;
}
.menu-modal-content{
    position: relative;
    background: url('./../img/small-parts/navigation.png') center/cover no-repeat;
    height: 50vh;
}
.menu-modal-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.5); 
    z-index: 1;
}
.menu-modal-content>*{
    z-index: 2;
}
.modal-body{
    height: auto;
}
.inner{
    align-items: end;
    align-content: end;
    display: flex;
    justify-content:end;
    border-bottom: 2px white dashed;
}
.open-day p{
    width: 30%;
}
.open-time{
    display: flex;
    justify-content: end;
}
.open-time p{
   width: 30%;
}
.open-date p{
    font-size: 21px;
}
/* end header*/
/*start our info*/
.orang-effect {
    right: 41%;
    top: 5%;
    z-index: -1;
}
/* end our info*/
/*start Reservation*/
.mint-effect {
    right: 57%;
    top: 2%;
}
/*end Reservation*/
/*start footer*/
.name-link{
    font-size: 45px;
    font-weight: 500;

}
.Subscribe-field{
    align-items: center;
}
.end-footer{
    border-top: white dashed 3px;
}
@media screen and (max-width:992px) {
.footer{
    text-align: center;
    padding: 0px;
}
footer.py-5{
    padding-top: 0px !important;
}
.contant.pt-5{
    padding-top: 0px !important;
}
}
/*end footer*/